$__color-primary: #2B62FF;
$__color-primary-light: #689df6;
$__color-primary-dark: #3b78dc;
$__color-text-primary: #0d0d0d;
$__color-text-minor: #7d808c;

$__border-color: #6c707e;
$__border-color-light: #b3b8c8;
$__border-color-extra-light: #e4e5e9;
$__border-radius: 4px;

$__font-size: 14px;
$__font-size-small: 12px;

$__disabled-color: #b2b6c7;
//$button-background: #eaefff;
//$button-border-color: #bfd0ff;
